@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;  
    text-align: center;
}


.features {
    display: grid;
    justify-content: center;
    background-color: #ffffff ;
    font-size: large;
}


.feature {
   
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Paralax Effect*/

.parallax-section {
    text-shadow: 4px 4px 6px #000000;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}

#section1 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Bust_of_Satoshi_Nakamoto_in_Budapest.jpg/800px-Bust_of_Satoshi_Nakamoto_in_Budapest.jpg); 
}

#section2 {
    background-image: url(https://images.unsplash.com/photo-1516850228053-a807778c4e0f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}
#section3 {
    background-image: url(https://images.unsplash.com/photo-1580893246395-52aead8960dc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section4{
    background-image: url(https://images.unsplash.com/photo-1623681143855-e1d48cf03ca1?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#section5{
    background-image: url(https://images.unsplash.com/photo-1592495989226-03f88104f8cc?q=80&w=2112&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#section6 {
    background-image: url(https://cloud-of6sjp59j-hack-club-bot.vercel.app/0timeline.png)
}
#section7 {
    background-image: url(https://images.unsplash.com/photo-1555374018-13a8994ab246?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.content-section {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.content-section p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}